.container {
    padding: 100px;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.containerChart {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center
}