.container-cards {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: start;

    .box-nameAirport-date {
        width: 100%;
        height: auto;
        margin: 0 5rem;
        padding: 1.5rem 4rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        display: flex;
        justify-content: start;
        align-items: center;

        .nameAirport-date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 4rem;
        }

        .price {
            margin: 0 2rem;
            font-size: 32px;
        }

        h3, h4 {
            padding: 0;
            margin: .5rem 0;
        }

        .seperator {
            width: 60%;
            height: 1px;
            background-color: rgb(113, 113, 113);   
            opacity: 0.35;
            margin: 1rem 0;
        }

        .button-book {
            background-color: rgb(36, 36, 36);
            border-radius: 5px;
            border: none;
            padding: 15px 30px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            margin: 0 2rem;
        }
    }
}